[submodule "roles/linux/files/vim/bundle/auto-pairs"]
	path = roles/linux/files/vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "roles/linux/files/vim/bundle/ctrlp.vim"]
	path = roles/linux/files/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "roles/linux/files/vim/bundle/gist-vim"]
	path = roles/linux/files/vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "roles/linux/files/vim/bundle/matchit"]
	path = roles/linux/files/vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "roles/linux/files/vim/bundle/nerdcommenter"]
	path = roles/linux/files/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "roles/linux/files/vim/bundle/vim-easymotion"]
	path = roles/linux/files/vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "roles/linux/files/vim/bundle/vim-indent-guides"]
	path = roles/linux/files/vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "roles/linux/files/vim/bundle/vim-preview"]
	path = roles/linux/files/vim/bundle/vim-preview
	url = https://github.com/greyblake/vim-preview
[submodule "roles/linux/files/vim/bundle/vim-twig"]
	path = roles/linux/files/vim/bundle/vim-twig
	url = https://github.com/lumiliet/vim-twig
[submodule "roles/linux/files/vim/bundle/vim-pathogen"]
	path = roles/linux/files/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "roles/linux/files/tmux/vendor/tmux-mem-cpu-load"]
	path = roles/linux/files/tmux/vendor/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "roles/linux/files/tmux/plugins/tpm"]
	path = roles/linux/files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "roles/linux/files/vim/bundle/editorconfig-vim"]
	path = roles/linux/files/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "roles/linux/files/vim/bundle/vim-cool"]
	path = roles/linux/files/vim/bundle/vim-cool
	url = https://github.com/romainl/vim-cool.git
[submodule "roles/linux/files/vim/bundle/Colorizer"]
	path = roles/linux/files/vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "roles/linux/files/vim/bundle/vim-code-dark"]
	path = roles/linux/files/vim/bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "roles/linux/files/vim/bundle/tmuxline.vim"]
	path = roles/linux/files/vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "roles/linux/files/vim/bundle/nerdtree-git-plugin"]
	path = roles/linux/files/vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "roles/linux/files/vim/bundle/nerdtree"]
	path = roles/linux/files/vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "roles/linux/files/vim/bundle/vim-surround"]
	path = roles/linux/files/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "roles/linux/files/vim/bundle/vim-smooth-scroll"]
	path = roles/linux/files/vim/bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "roles/linux/files/vim/bundle/DrawIt"]
	path = roles/linux/files/vim/bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt
[submodule "roles/linux/files/vim/bundle/lightline.vim"]
	path = roles/linux/files/vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "roles/linux/files/vim/bundle/vim-commentary"]
	path = roles/linux/files/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "roles/linux/files/vim/bundle/vim-auto-save"]
	path = roles/linux/files/vim/bundle/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule "roles/linux/files/vim/bundle/vim-visual-multi"]
	path = roles/linux/files/vim/bundle/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "roles/linux/files/vim/bundle/nvim-blame-line"]
	path = roles/linux/files/vim/bundle/nvim-blame-line
	url = https://github.com/tveskag/nvim-blame-line.git
[submodule "roles/linux/files/vim/bundle/vim-sensible"]
	path = roles/linux/files/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "roles/linux/files/vim/bundle/tagbar"]
	path = roles/linux/files/vim/bundle/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "roles/linux/files/vim/bundle/vim-gitgutter"]
	path = roles/linux/files/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "roles/linux/files/vim/bundle/vim-obsession"]
	path = roles/linux/files/vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "roles/linux/files/vim/bundle/ale"]
	path = roles/linux/files/vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "roles/linux/files/vim/bundle/fzf.vim"]
	path = roles/linux/files/vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "roles/linux/files/vim/bundle/fzf"]
	path = roles/linux/files/vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
