---
- name: Source variables files
  ansible.builtin.include_vars: "{{ role_path }}/{{ item }}"
  loop:
    - packages.yml
    - pip-packages.yml
    - homebrew.yml
    - homebrew_services.yml
    - cargo.yml
    - symlinks.yml
    - systemd-units.yml
    - repositories.yml
    - vscodium-extensions.yml
    - snaps.yml
    - rpm-keys.yml
    - flatpak.yml
  tags: always
- name: Source Ansible services facts
  ansible.builtin.service_facts:
